/*defining variables*/
:root {
  --laptopw: 90%;
  --laptoph: 600px;
  --bgcolor: rgb(0, 0, 0);
  --framecolor: rgb(231, 231, 231);
  --glow: linear-gradient(rgb(140, 0, 255), rgba(255, 0, 255, 0.3));
  --themecolor: rgb(241, 38, 224);
  --repitition: 3;
  --header1size: 7.5vh;
  --header2size: 3vh;
  --bgcolornote: black;
  --notecolor: rgb(174, 219, 12);
  --bordercolornote: white;
}
body {
  display: block;
  left: auto;
  top: auto;
  align-items: center;
}

header h1 {
  color: var(--themecolor);
  position: relative;
  text-align: center;
  font-size: var(--header1size);
  font-family: Edwardian Script;
  font-style: italic;
}
#titlespan {
  transform: scale(2);
}
header p {
  color: var(--themecolor);
  position: relative;
  text-align: center;
  margin: 3vh;
  font-size: 200%;
  font-family: "Sacramento", cursive;
  font-weight: bolder;
}

.bg-custom {
  background-color: var(--bgcolor) !important;
}

.custom-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  /* margin-left: -15px; */
}

.custom-card {
  border-style: dotted !important;
  border-spacing: 50px !important;
  border-color: var(--framecolor);
  color: var(--themecolor);
  position: relative;
  width: 100%;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5vh;
  margin-top: 3vh;
}
.custom-card h2 {
  border-style: solid;
  border-radius: 5px;
  border-color: var(--framecolor);
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  left: 5%;
  top: -37.5px;
  width: 90%;
  height: 75px;
  background-color: var(--bgcolor);
  font-size: var(--header2size);
  align-items: center;
  text-align: center;
}
.custom-card:hover,
.custom-card:hover > h2 {
  animation-duration: 0.75s;
  animation-name: glow;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
/*the glow effect on the borders*/
@keyframes glow {
  0% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgba(255, 6, 255, 0.1);
  }
  50% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgba(195, 0, 255, 0.75);
  }
  100% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgb(255, 0, 212);
  }
}

/*styling the product image size */
.product-image {
  max-height: 100%;
  max-width: 100%;
  align-self: center;
}

/*styling the form for updating the cart*/
.addremoveproducts {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  align-items: center;
  margin-left: 5%;
  width: 90%;
}

/*styling the buttons inside the updating cart form*/

.addToCart,
.removeFromCart {
  position: relative;
  width: 25%;
  border-radius: 5px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.addToCart:hover::after {
  content: "💝";
  transform: scale(2);
  position: absolute;
  bottom: 50px;
  left: 50%;
  animation: fly 0.4s linear forwards;
}
.removeFromCart:hover::after {
  content: "💔";
  transform: scale(2);
  position: absolute;
  bottom: 50px;
  left: 50%;
  animation: fly 0.4s linear forwards;
}

@keyframes fly {
  99% {
    bottom: 20vh;
    transform: scale(0.1);
  }
  100% {
    display: none;
  }
}
/*styling the label with the price*/
.price {
  left: 50%;
  font-size: 150%;
  font-weight: bolder;
  position: relative;
  border-style: solid;
  border-bottom-right-radius: 5px;
  border-color: var(--bordercolornote);
  border-style: groove;
  color: var(--notecolor);
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  left: -1%;
  top: 50%;
  width: 25%;
  height: 5vh;
  background-color: var(--bgcolornote);
  font-size: 100%;
}

@media screen and (max-width: 768px) {
  /*for tablets*/
  :root {
    --repitition: 2;
  }
}

@media screen and (max-width: 600px) {
  /*for phones*/
  .content {
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
